workflows/github activities to tg.json
{"id": 9, "name": "github activities to tg", "active": true, "nodes": [{"parameters": {}, "name": "Start", "type": "n8n-nodes-base.start", "typeVersion": 1, "position": [-180, 340]}, {"parameters": {"url": "https://github.com/reorx.atom"}, "name": "RSS Feed Read", "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1, "position": [80, 460]}, {"parameters": {"functionCode": "/* only return new items */\nconst staticData = getWorkflowStaticData('global');\nconst lastItemId = staticData.lastItemId;\n\nconsole.log('lastItemId', lastItemId);\nconst firstItem = items[0];\nlet newItems = [];\n\nfunction getId(item) {\n  return item.json.guid;\n}\n\nif (lastItemId) {\n  for (const item of items) {\n    if (getId(item) === lastItemId) {\n      break;\n    }\n    newItems.push(item)\n  }\n} else {\n  newItems = [firstItem]\n}\n\nstaticData.lastItemId = getId(firstItem)\nreturn newItems"}, "name": "Function", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 480]}, {"parameters": {"chatId": "@reorx_share", "text": "={{$json[\"tgTitle\"]}}\n\n{{$json[\"link\"]}}", "additionalFields": {"parse_mode": "HTML"}}, "name": "Telegram", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [640, 340], "credentials": {"telegramApi": {"id": "1", "name": "Telegram reorx_share_bot"}}}, {"parameters": {"interval": 10, "unit": "minutes"}, "name": "Interval", "type": "n8n-nodes-base.interval", "typeVersion": 1, "position": [-200, 500]}, {"parameters": {"functionCode": "/* filter items */\nconst newItems = [];\n\nconst regexes = {\n  'star': /^reorx starred/,\n  'pull-request': /^reorx opened a pull request/,\n  'issue': /^reorx opened an issue/,\n}\nconst tagSymbols = {\n  'star': '\ud83c\udf1f',\n  'pull-request': '\u2934\ufe0f',\n  'issue': '\u26a1\ufe0f'\n}\n\nfor (const item of items) {\n  const title = item.json.title\n  let tag = ''\n\n  for (const key in regexes) {\n    const regex = regexes[key]\n    if (regex.test(title)) {\n      tag = key\n      break\n    }\n  }\n  if (tag !== '') {\n    item.json.tag = tag\n    item.json.tgTitle = `${tagSymbols[tag]} ${title.replace(/^reorx /, '')} #github #${tag}`\n    item.json.guid = item.json.id\n    newItems.push(item)\n  }\n}\n\nreturn newItems"}, "name": "Function filter", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [280, 320]}], "connections": {"RSS Feed Read": {"main": [[{"node": "Function filter", "type": "main", "index": 0}]]}, "Function": {"main": [[{"node": "Telegram", "type": "main", "index": 0}]]}, "Start": {"main": [[{"node": "RSS Feed Read", "type": "main", "index": 0}]]}, "Interval": {"main": [[{"node": "RSS Feed Read", "type": "main", "index": 0}]]}, "Function filter": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}}, "createdAt": "2022-05-25T08:35:40.627Z", "updatedAt": "2022-05-25T14:42:07.480Z", "settings": {"errorWorkflow": "12"}, "staticData": {"global": {}}}