workflows/pinboard to tg.json
{
  "id": 1,
  "name": "pinboard to tg",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "3f1e847f-67ba-4f2d-a7d9-7d7bad2f0471",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        440,
        360
      ]
    },
    {
      "parameters": {
        "chatId": "@reorx_share",
        "text": "=🔖 {{$json[\"description\"]}} #bookmark #pinboard \n\n{{$json[\"href\"]}}\n{{$json[\"tagsHTML\"]}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1160,
        580
      ],
      "id": "79421e11-eb54-4f08-b282-b7a40ef9ef4b",
      "credentials": {
        "telegramApi": {
          "id": "8",
          "name": "Telegram reorx_share_bot"
        }
      }
    },
    {
      "parameters": {
        "interval": 5,
        "unit": "minutes"
      },
      "name": "Interval",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        440,
        600
      ],
      "id": "942d61db-2a8b-4cf1-8d2b-e04a4eca48da"
    },
    {
      "parameters": {
        "authentication": "queryAuth",
        "url": "=https://api.pinboard.in/v1/posts/recent",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "format",
              "value": "json"
            }
          ]
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        660,
        440
      ],
      "id": "06bbe285-d27e-4923-9de7-73fe376aec92",
      "credentials": {
        "httpQueryAuth": {
          "id": "7",
          "name": "pinboard token"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "posts",
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        840,
        580
      ],
      "id": "3eb8bc62-6b6c-428c-b076-375fddb784b0"
    },
    {
      "parameters": {
        "functionCode": "/* filter items */\nitems = items.filter(item => item.json.shared === 'yes')\n\n/* only return new items */\nconst staticData = getWorkflowStaticData('global');\nconst lastItemId = staticData.lastItemId;\n\nconsole.log('lastItemId', lastItemId);\nconst firstItem = items[0];\nlet newItems = [];\n\nfunction getId(item) {\n  return item.json.hash;\n}\n\nfunction addProperties(item) {\n  // add new property: tagsHTML\n  item.json.tagsHTML = item.json.tags.split(' ').map(i => `<code>${i}</code>`).join(', ')\n  return item\n}\n\nif (lastItemId) {\n  for (const item of items) {\n    if (getId(item) === lastItemId) {\n      break;\n    }\n    newItems.push(addProperties(item))\n  }\n} else {\n  newItems = [addProperties(firstItem)]\n}\n\nstaticData.lastItemId = getId(firstItem)\nreturn newItems.reverse()"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1000,
        440
      ],
      "id": "940b9f00-b45e-4fed-8c05-0f895603bd1d"
    }
  ],
  "connections": {
    "Interval": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-09-11T00:38:26.637Z",
  "updatedAt": "2022-11-25T23:22:11.597Z",
  "settings": {},
  "staticData": {
    "global": {}
  }
}