workflows/spotify likes to tg.json
{
  "id": 7,
  "name": "spotify likes to tg",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "library",
        "limit": 10
      },
      "name": "Get liked tracks",
      "type": "n8n-nodes-base.spotify",
      "position": [
        500,
        300
      ],
      "typeVersion": 1,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "6",
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst lastItemId = staticData.lastItemId;\n\nconsole.log('lastItemId', lastItemId);\nconst firstItem = items[0];\nlet newItems = [];\n\nfunction getId(item) {\n  return item.json.track.id;\n}\n\nif (lastItemId) {\n  for (const item of items) {\n    if (getId(item) === lastItemId) {\n      break;\n    }\n    newItems.push(item)\n  }\n} else {\n  newItems = [firstItem]\n}\n\nstaticData.lastItemId = getId(firstItem)\nreturn newItems"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "@reorx_share",
        "text": "=🎵 <u>{{$json[\"track\"][\"name\"]}}</u> by <em>{{$json[\"track\"][\"artists\"][0][\"name\"]}}</em> #music #spotify\n\nhttps://open.spotify.com/track/{{$json[\"track\"][\"id\"]}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram reorx_share_bot"
        }
      }
    },
    {
      "parameters": {
        "unit": "hours"
      },
      "name": "Interval",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        260,
        520
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get liked tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get liked tracks": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interval": {
      "main": [
        [
          {
            "node": "Get liked tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-05-23T17:28:53.784Z",
  "updatedAt": "2022-05-25T14:42:48.665Z",
  "settings": {
    "errorWorkflow": "12"
  },
  "staticData": {
    "global": {}
  }
}